.button {
    /* border: 1px dashed red; */
    display: flex;
    padding: 1px;
    z-index: 100;
    position: relative;
    z-index: 1;
    padding: 1px !important;
    border-radius: var(--border-radius);
    background-color: var(--color-border);
    cursor: pointer;
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button a {
    color: var(--color-text);
    text-decoration: none;
}
