.panel {
    display: flex;
    width: 100%;
    padding: var(--border-width);
    background-color: var(--color-border);
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    z-index: 1;
}

.panel-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    padding: 1rem;
}
