.searchbar {
    border-radius: var(--border-radius);
    width: 584px;
    padding: var(--border-width);
    background-color: var(--color-border);
}

.search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 2.5rem;
}

.search-section::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--border-width);
    z-index: 10;
}

/* Loading bar */
.search-section::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: var(--border-width);
    background-color: var(--color-border-light);
    transition: width 0.3s ease-in-out;
}

.searchbar:focus-within .search-section::after {
    animation: borderSlide 1s infinite ease-in-out;
}

input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-text);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.results-section {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.results-section::-webkit-scrollbar {
    display: none;
}

.results-section.show::before {
    width: 100%;
    animation: borderSlide 1s infinite ease-in-out;
}

.results-section.show {
    max-height: 300px;
    position: relative;
}

.result {
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    overflow: hidden;
    white-space: nowrap;
}

.result .left-side {
    color: var(--color-text-light);
}

.result:hover {
    cursor: pointer;
    background-color: var(--color-bg-light-highlight);
}

@media screen and (max-width: 600px) {
    .searchbar {
        width: 100%;
    }
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes borderSlide {
    0% {
        width: 0;
        left: 0;
    }
    25% {
        width: 100%;
        left: 0;
    }
    50% {
        width: 100%;
        left: auto;
        right: 0;
    }
    60% {
        width: 100%;
        left: auto;
        right: 0;
    }
    90% {
        width: 0;
        left: auto;
        right: 0;
    }
    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}
