.navbar {
    /* border: 1px dashed red; */
    display: flex;
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: var(--border-width);
    background-color: var(--color-border);
    height: 4rem;
}

.navbar a {
    text-decoration: none;
    color: var(--color-text);
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user-icon {
    /* border: 1px dashed red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--border-width);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-section {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding-left: 2rem;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

@media (max-width: 600px) {
    .navbar-left {
        display: none;
    }

    .navbar-right {
        padding-left: 2rem;
        width: 100%;
    }
}
