.home {
    /* border: 2px dashed plum; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}

.home > h1 {
    width: 584px;
    text-align: center;
}

.home .range-slider-container {
    width: 584px;
    max-width: 100%;
}

.test_multi_search{
    border: 2px dashed orange;
    padding: 10px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 600px) {
    .home {
        width: calc(100vw - 40px);
        margin: 20px;
    }

    .home > h1 {
        width: calc(100vw - 40px);
    }

    .home .range-slider-container {
        width: 100%;
    }
}
