.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 1.5rem;
}

.home > h1 {
    width: 584px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .home {
        width: calc(100vw - 4rem);
        margin: 2rem;
    }

    .home > h1 {
        width: calc(100vw - 4rem);
    }
}
