.login-form-container {
  /* border: 2px dashed plum; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.login-form-container > h1 {
  width: 584px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .login-form-container {
    width: calc(100vw - 40px);
    margin: 20px;
  }

  .login-form-container > h1 {
    width: calc(100vw - 40px);
  }
}
