.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 1.5rem;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 4rem);
    margin-top: 4rem; /* navbar clearance */
    gap: 0.5rem;
    padding: 0.5rem;
}

.left-panel {
    height: 100%;
}

.center-panel {
    height: 100%;
}

.globe {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
}

.right-panel {
    height: 100%;
    width: 600px;
}

.film-list {
    position: relative;
    top: -0.5rem;
    bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    margin-right: -0.5rem;
    display: flex;
    flex-direction: column;
    height: calc(100% + 1rem);
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow if any */
    gap: 0.5rem;
    scrollbar-gutter: stable both-edges;
}

.hidden * {
    display: none;
}
